@charset "utf-8";

@import "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: $font;
    color: $color;
}

body {
    background: $background;
    width: 100%;
}



.wrppr {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}











.glow-brass {
    --tw-bg-opacity: 1;
    background-color: rgb(1 53 59/var(--tw-bg-opacity))
}

.glow-red {
    --tw-bg-opacity: 1;
    background-color: rgb(64 21 44/var(--tw-bg-opacity))
}

.glow-blue {
    --tw-bg-opacity: 1;
    background-color: rgb(1 42 47/var(--tw-bg-opacity))
}

.glow-ocean {
    --tw-bg-opacity: 1;
    background-color: rgb(113 151 157/var(--tw-bg-opacity))
}

.glow,.glow-blue,.glow-brass,.glow-ocean,.glow-red {
    border-radius: 9999px;
    position: absolute;
    transform: translateZ(0)
}

.glow-blue.blur-small,.glow-brass.blur-small,.glow-ocean.blur-small,.glow-red.blur-small,.glow.blur-small {
    --tw-blur: blur(40px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.glow-blue.blur-large,.glow-brass.blur-large,.glow-ocean.blur-large,.glow-red.blur-large,.glow.blur-large {
    --tw-blur: blur(120px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
